# Ignore everything
*
!*/

# And then exclude required files

# Pwn and inc files (gamemode, filterscripts, npcmodes etc)
!gamemodes/**/*.pwn
!gamemodes/**/*.inc
!filterscripts/*.pwn
!filterscripts/npc_record.amx
!npcmodes/*.pwn

# NPCs recordings
!npcmodes/recordings/*.rec

# Some custom files required for gamemode
!scriptfiles

# Proper files encoding detection & diff decorations disable
!.vscode/settings.json

# SQL files
!database/**

# Plugins/includes
!plugins/**
!qawno/include/**
!components/*.dll
!components/*.pdb
!components/*.so

# Other
!mysql_logs.ini
!mysql.ini
!server.cfg
!npcmodes/*
!config.json

*.i64
*.idb

!*.dll
!README.md
