.vscode/
logs/
sscanf/
server.cfg
server_log.txt
svlog.txt
**/*.amx
plugins/FCNPC.dll
plugins/FCNPC.so
filterscripts/pearsmap.amx
svlog.txt
*.dll
*.inc
pawno/include/a_mysql.inc
pawno/include/Pawn.RakNet.inc
